services:
  app:
    env_file:
      - .env
    build:
      context: .
      args:
         VERSION: ${VERSION}
    ports:
      - "${PORT}:7540"
    depends_on:
      postgres:
        condition: service_started
      temporal:
        condition: service_started
      redis:
        condition: service_started
      mongodb:
        condition: service_started
      minio:
        condition: service_started
    networks:
      - doc_serv_network

  postgres:
    image: postgres:alpine
    container_name: postgres
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_NAME}
    ports:
      - "${DB_PORT}:5432"
    volumes:
      - ./data/postgresql:/var/lib/postgresql/data
    networks:
      - doc_serv_network

  temporal:
    container_name: temporal
    image: temporalio/auto-setup:1.22
    ports:
      - "${TEMPORAL_PORT}:7233"
    volumes:
      - ./config/temporal.yml:/etc/temporal/config/development_es.yaml:z
    environment:
      - DB=postgresql
      - DB_PORT=${DB_PORT}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PWD=${DB_PASSWORD}
      - POSTGRES_SEEDS=${DB_HOST}
    depends_on:
      postgres:
        condition: service_started
    networks:
      - doc_serv_network

  redis:
    image: redis:latest
    container_name: redis_container
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    ports:
      - "${REDIS_PORT}:6379"
    volumes:
      - ./data/redisdata:/data
    networks:
      - doc_serv_network

  mongodb:
    image: mongo:latest
    container_name: mongodb
    ports:
      - "${MGDB_PORT}:27017"
    volumes:
      - ./data/mongodb_data:/data/db
    networks:
      - doc_serv_network

  minio:
    image: minio/minio:latest
    container_name: file_storage
    command: server /data --console-address ":9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
    ports:
      - "${MINIO_ROOT_PORT}:9000"  # API порт
      - "${MINIO_ADMIN_PORT}:9001"  # Web консоль
    volumes:
      - ./data/minio_data:/data
    networks:
      - doc_serv_network

volumes:
  postgresql:
  redis_data:
  mongodb_data:
  minio_data:
    driver: local

networks:
  doc_serv_network:
